<div class="wrapper">
    <div class="header">
        <h3 class="heading-title">Product list</h3>
        <div class="heading-search">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="width: 50%;">
                <input type="text" nz-input placeholder="search product..." [(ngModel)]="keySearch" (ngModelChange)="handleSearch(keySearch)"/>
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
            </ng-template>
        </div>
        <button class="button-add" (click)="openFormAdd()">Add product</button>
    </div>
    <div class="main">
        <nz-table #basicTable [nzData]="productList" style="height: 100%;">
            <thead>
                <tr>
                    <th></th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;let i = index">
                    <td>{{i}}</td>
                    <td>
                        <img [src]="data.image" [alt]="data.name" style="width: 50px;height: 50px;">
                    </td>
                    <td>{{data.name}}</td>
                    <td>${{data.price}}</td>
                    <td>{{data.description}}</td>
                    <td>{{data.category}}</td>
                    <td>
                        <div class="button-act">
                            <button class="button-edit" (click)="editProduct(data.id)">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="button-remove" (click)="deleteProduct($event,data.id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-modal [nzClosable]="false" [(nzVisible)]="isOpenForm" nzTitle="Adding product" [nzFooter]="null"
[nzWidth]="700" [nzBodyStyle]="{'overflow-y': 'scroll'}">
    <ng-container *nzModalContent>
        <app-add-product *ngIf="isFormAdd" (isCloseModal)="closeModalAdd($event)" (isCallAgain)="isCallAgainData($event)"></app-add-product>
        <app-edit-product *ngIf="isFormEdit" [idProduct]="idProductToEdit" (isCloseModal)="closeModalAdd($event)" (isCallAgain)="isCallAgainData($event)"></app-edit-product>
    </ng-container>
</nz-modal>