<app-header></app-header>
<section class="area-cart">
    <div class="elementor-widget-cart">
        <div class="cart-container container">
            <div *ngIf="items.length > 0">
                <header class="entry-header">
                    <h1 class="title-header">Cart</h1>
                </header>
                <table class="shop-table">
                    <thead>
                        <tr style="background: #fbfbfb;">
                            <th class="product-remove">Remove Item</th>
                            <th class="product-thumbnail">Thumbnail image</th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-subtotal">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart-item" *ngFor="let item of items">
                            <td class="product-remove"><span nz-icon nzType="close-circle" nzTheme="outline"
                                    (click)="removeItem(item.id)" style="cursor: pointer;"></span></td>
                            <td class="product-thumbnail">
                                <img [src]="item.image" [alt]="item.name" style="width: 75px;height: 75px;">
                            </td>
                            <td class="product-name" style="color: #74A84A;">{{item.name}}</td>
                            <td class="product-price">${{item.price}}</td>
                            <td class="product-quantity">
                                <div class="elementor-quantity">
                                    <button class="elementor-button-quantity" (click)="decrease(item)">-</button>
                                    <input type="number" [(ngModel)]="item.quantity" class="elementor-quantity-fill">
                                    <button class="elementor-button-quantity" (click)="increase(item)">+</button>
                                </div>
                            </td>
                            <td class="product-subtotal">${{item.price * item.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="cart-totals">
                    <h2 class="cart-title">Cart totals</h2>
                    <table cellspacing="0" class="cart-table" style="width: 100%">
                        <tbody>
                            <tr class="cart-subtotal" style="border-bottom: 1px solid #d9d9d9">
                                <th class="total-title"
                                    style="font-size: 17px;color: #595959;width: 50%;font-weight: 400;padding: 15px;">
                                    Subtotal</th>
                                <td class="total-text" style="font-size: 17px;color: #595959;width: 50%;padding: 15px;">
                                    ${{calculateTotal()}}</td>
                            </tr>
                            <tr class="order-total" style="border-bottom: 1px solid #d9d9d9">
                                <th class="total-title"
                                    style="font-size: 17px;color: #595959;width: 50%;font-weight: 400;padding: 15px;">
                                    Total</th>
                                <td class="total-text" style="font-size: 17px;color: #595959;width: 50%;padding: 15px;">
                                    ${{calculateTotal()}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="button-checkout" routerLink="/checkout">Proceed to checkout</button>
                    <!-- <span style="color: red;" *ngIf="!user">Please log in to order</span> -->
                </div>
            </div>
            <div *ngIf="items.length == 0">
                <div class="empty-cart">
                    <div class="image-empty">
                        <img src="https://img.freepik.com/premium-vector/shopping-cart-with-cross-mark-wireless-paymant-icon-shopping-bag-failure-paymant-sign-online-shopping-vector_662353-912.jpg"
                            style="width: 200px;" alt="">
                    </div>
                    <p class="text-empty">Your cart is currently empty</p>
                    <p>Add something to make me happy ^^</p>
                    <button class="button-return" (click)="goBackShop()">Return the shop</button>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>