
.header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        height: 100px;
        margin: auto;
        position: relative;

        .logo {
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 2.5px;
        }

        .site-header-right {
            display: flex;
            align-items: center;
            gap: 20px;

            .list-menu {
                display: flex;
                align-items: center;
                gap: 20px;
                list-style-type: none;
                margin: 0;
                z-index: 10;
                .menu-item {
                    text-transform: uppercase;
                    font-size: 17px;
                    letter-spacing: 1.5px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    cursor: pointer;
                }
            }

            .header-woo-cart,
            .header-account {
                font-size: 23px;
                position: relative;
                cursor: pointer;

                span {
                    display: flex;
                }
            }

            .header-menu-hambuger {
                display: none;
                font-size: 14px;
                padding: 10px;
                background: #000000;
                color: white;
            }
        }
    }
}

.heading-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elementor-widget-contain {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    .elementor-widget-cart {
        padding: 24px;
        flex: 1;
        overflow: auto;
        border-bottom: 1px solid #f0f0f0;
        .elementor-cart-box {
            display: grid;
            grid-template-columns: 100px 200px 50px;
            margin-bottom: 15px;
            min-height: 90px;
            border-bottom: 1px solid#f0f0f0;
            .elementor-image-product>img {
                width: 75px;
                height: 75px;
                object-fit: contain;
            }

            .elementor-content-product {
                margin: auto 0;

                .elementor-name-product {
                    font-size: 17px;
                }

                .elementor-price-product {
                    font-size: 17px;
                    color: #595959;
                    cursor: pointer;
                }
            }

            .elementor-close {
                text-align: center;
                font-size: 18px;
                color: #6a6a6a;
                cursor: pointer;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
}
.elementor-widget-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    .elementor-title-total{
        font-size: 17px;
        font-weight: 500;
        color: #74A84A;
        margin: 0;
    }
    .elementor-total-price{
        font-size: 17px;
        color: #595959;
        font-weight: 500;
        margin: 0;
    }
}
.elementor-widget-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .elementor-button-cart{
        width: 100%;
        padding: 7px 0;
        background: #74A84A;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 17px;
        font-weight: 500;
        border: none;
        outline: none;
        transition: .3s all ease-in-out;
        &:hover{
            background: #2c541d;
            transition: .3s all ease-in-out;
        }
    }
}
::ng-deep.ant-drawer-body{
    padding: 0 !important;
}
@media screen and (max-width: 1024px) {
    .container {
        padding: 20px !important;
        margin: 0 !important;
        max-width: 100%;
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        border-bottom: 1px solid #d9d9d9;
        height: 90px !important;
    }

    .header-menu-hambuger {
        display: flex !important;
    }

    .open-list-menu {
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 0;
        align-items: flex-start !important;
        gap: 0 !important;
        opacity: 1;
        visibility: visible;
        transition: 0.5s all ease;

        .menu-item {
            width: 100%;
            font-size: 17px !important;
            padding: 8px 20px;
            border-bottom: 1px solid #d9d9d9;
            background: white;
        }
    }

    .close-list-menu {
        position: absolute;
        top: 90px;
        left: -800px;
        width: 100%;
        flex-direction: column;
        padding: 0;
        align-items: flex-start !important;
        gap: 0 !important;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s all ease;

        .menu-item {
            width: 100%;
            font-size: 17px !important;
            padding: 8px 20px;
            border-bottom: 1px solid #d9d9d9;
            background: white;
        }
    }

    .header-account {
        display: none;
    }
}

@media screen and (max-width: 426px) {
    .logo {
        font-size: 17px !important;
    }
}

@media screen and (max-width: 376px) {
    .open-list-menu {
        .menu-item {
            font-size: 14px !important;
        }
    }
}