<div class="header">
    <div class="container">
        <div class="logo">earth store</div>
        <div class="site-header-right">
            <ul class="list-menu" [ngClass]="isOpenMenu ? 'open-list-menu' : 'close-list-menu'">
                <li class="menu-item" routerLink="/">HOME</li>
                <li class="menu-item" routerLink="/gioi-thieu">ABOUT</li>
                <li class="menu-item" routerLink="/cua-hang">SHOP</li>
                <li class="menu-item" routerLink="/lien-he">CONTACT</li>
            </ul>
            <div class="header-woo-cart"><span nz-icon nzType="shopping-cart" nzTheme="outline"></span></div>
            <div class="header-account"><span nz-icon nzType="user" nzTheme="outline"></span></div>
            <div class="header-menu-hambuger" (click)="handleOpenMenuHambuger()"><span nz-icon [nzType]="isOpenMenu ? 'close' : 'menu'" nzTheme="outline"></span></div>
        </div>
    </div>
</div>