<div class="header">
    <div class="container">
        <div class="logo">earth store</div>
        <div class="site-header-right">
            <ul class="list-menu" [ngClass]="isOpenMenu ? 'open-list-menu' : 'close-list-menu'">
                <li class="menu-item" routerLink="/">HOME</li>
                <li class="menu-item" routerLink="/gioi-thieu">ABOUT</li>
                <li class="menu-item" routerLink="/cua-hang">SHOP</li>
                <li class="menu-item" routerLink="/lien-he">CONTACT</li>
            </ul>
            <div class="header-woo-cart" (click)="showCart()"><span nz-icon nzType="shopping-cart"
                    nzTheme="outline"></span>
                <span style="font-size: 12px;
                position: absolute;
                top: -19px;
                right: -21px;
                background: black;
                padding: 3px 9px;
                color: white;
                border-radius: 50%;">{{products.length > 0 ? products.length : 0}}</span>
            </div>
            <div *ngIf="!user.name" class="header-account" routerLink="/sign-up"><span nz-icon nzType="user" nzTheme="outline"></span></div>
            <div *ngIf="user.name" class="header-account" style="font-size: 15px;color: #74A84A;font-weight: 500;">Hi {{user.name}}</div>
            <div *ngIf="user.name" class="header-account" style="font-size: 15px;font-weight: 500;" (click)="logout()">Log out</div>
            <div class="header-menu-hambuger" (click)="handleOpenMenuHambuger()"><span nz-icon
                    [nzType]="isOpenMenu ? 'close' : 'menu'" nzTheme="outline"></span></div>
                    
        </div>
    </div>
</div>
<!-- view cart -->
<nz-drawer [nzClosable]="false" [nzVisible]="isShowCart" nzPlacement="right" [nzTitle]="headingTitleCart"
    [nzFooter]="footer" (nzOnClose)="closeCart()">
    <ng-container *nzDrawerContent>
        <div class="elementor-widget-contain">
            <div class="elementor-widget-cart">
                <div class="elementor-cart-box" *ngFor="let product of products">
                    <div class="elementor-image-product">
                        <img [src]="product.images[0]" [alt]="product.title">
                    </div>
                    <div class="elementor-content-product">
                        <h3 class="elementor-name-product">{{product.title}}</h3>
                        <p class="elementor-price-product">{{product.quantity}} x ${{product.price}}</p>
                    </div>
                    <div class="elementor-close">
                        <span nz-icon nzType="close-circle" nzTheme="outline" (click)="removeItem(product.id)"></span>
                    </div>
                </div>
            </div>
            <div class="elementor-widget-total">
                <p class="elementor-title-total">Subtotal: </p>
                <p class="elementor-total-price">${{calculateTotal()}}</p>
            </div>
        </div>
    </ng-container>
    <ng-template #headingTitleCart>
        <div class="heading-cart">
            <p style="font-size: 17px;font-weight: 500;color: #74A84A;margin: 0;">Shopping cart</p>
            <span nz-icon nzType="close" nzTheme="outline" style="cursor: pointer;" (click)="closeCart()"></span>
        </div>
    </ng-template>
    <ng-template #footer>
        <div class="elementor-widget-footer">
            <button class="elementor-button-cart" (click)="goToCart()">View cart</button>
            <button class="elementor-button-cart">Checkout</button>
        </div>
    </ng-template>
</nz-drawer>