<div class="wrapper">
    <section class="area-thumbnail-contact">
        <div class="banner-contact">
            <app-header></app-header>
            <div class="elementor-container container">
                <div class="elementor-widget-heading">
                    <h1 class="elementor-heading-title">Contact us</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="area-send-form">
        <div class="elementor-widget-container container">
            <div class="elementor-widget-form">
                <div class="elementor-widget-contact">
                    <div class="elementor-heading">
                        <h3 class="elementor-heading-title">Get In Touch</h3>
                    </div>
                    <div class="elementor-widget-form">
                        <form class="elementor-form">
                            <div class="elementor-input-form">
                                <input class="elementor-input-fill" type="text" placeholder="Full name">
                            </div>
                            <div class="elementor-input-form">
                                <input class="elementor-input-fill" type="text" placeholder="Phone Number">
                            </div>
                            <div class="elementor-input-form">
                                <input class="elementor-input-fill" type="text" placeholder="Email">
                            </div>
                            <div class="elementor-input-form">
                                <textarea class="elementor-input-fill" name="" id="" cols="30" rows="3"
                                    placeholder="Message"></textarea>
                            </div>
                            <button class="elementor-button-apply">Send now</button>
                        </form>
                    </div>
                </div>
                <div class="elementor-widget-contact">
                    <div class="elementor-wrap">
                        <div class="elementor-heading">
                            <h3 class="elementor-heading-title">Talk To Us</h3>
                        </div>
                        <div class="elementor-widget-view-default">
                            <div class="elementor-box-view">
                                <div class="elementor-box-icon">
                                    <span nz-icon nzType="mail" nzTheme="outline"></span>
                                </div>
                                <div class="elementor-box-content">
                                    <p class="elementor-title-content">Email</p>
                                    <p class="elementor-text-content">
                                        something@tyler.com
                                    </p>
                                </div>
                            </div>
                            <div class="elementor-box-view">
                                <div class="elementor-box-icon">
                                    <span nz-icon nzType="phone" nzTheme="outline"></span>
                                </div>
                                <div class="elementor-box-content">
                                    <p class="elementor-title-content">phone number</p>
                                    <p class="elementor-text-content">
                                        202-555-0188
                                    </p>
                                </div>
                            </div>
                            <div class="elementor-box-view">
                                <div class="elementor-box-icon">
                                    <span nz-icon nzType="environment" nzTheme="outline"></span>
                                </div>
                                <div class="elementor-box-content">
                                    <p class="elementor-title-content">Adress</p>
                                    <p class="elementor-text-content">
                                        2727 Ocean Road,
                                        Malibu, CA, 90264
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-widget-social">
                            <p class="elementor-title-social">Follow Us:</p>
                            <div class="elementor-icon-social">
                                <span nz-icon nzType="facebook" nzTheme="outline"></span>
                                <span nz-icon nzType="twitter" nzTheme="outline"></span>
                                <span nz-icon nzType="instagram" nzTheme="outline"></span>
                                <span nz-icon nzType="play-circle" nzTheme="outline"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="area-footer">
        <app-footer></app-footer>
    </section>
</div>