<app-header></app-header>
<div class="area-signin">
  <div class="container">
    <div class="card">
      <div class="card_title">
        <h1>Sign In</h1>
      </div>
      <div class="form">
      <form action="/login" method="post">
          <input type="email" name="email" placeholder="Email" id="email" />
          <input type="password" name="password" placeholder="Password" id="password" />
          <div class="field-signup">
            <a href="">Forgot password?</a>
            <a href="/sign-up">Sign up</a>
          </div>
        <button>Sign In</button>
      </form>
      </div>
    </div>
  </div>
  </div>
<app-footer></app-footer>