<app-header></app-header>
<div class="area-signin">
  <div class="container">
    <div class="card">
      <div class="card_title">
        <h1>Sign In</h1>
      </div>
      <div class="form">
      <form [formGroup]="loginForm">
          <input type="email" formControlName="email" placeholder="Email" id="email" required/>
          <input type="password" formControlName="password" placeholder="Password" id="password" required/>
          <div class="field-signup">
            <a href="">Forgot password?</a>
            <a href="/sign-up">Sign up</a>
          </div>
        <button (click)="login()">Sign In</button>
      </form>
      </div>
    </div>
  </div>
  </div>
<app-footer></app-footer>