<div class="elementor-widget-relate container" *ngIf="productsRelate.length > 0">
    <h2 class="elementor-title">Related product</h2>
    <div class="elementor-list-relate">
        <div class="elementor-widget-box" *ngFor="let product of productsRelate">
            <a href="/product-detail/{{product.id}}">
                <figure class="elementor-widget-image">
                    <img [src]="product.image" [alt]="product.name" class="elementor-image">
                </figure>
                <p class="elementor-category-product">{{product.category}}</p>
                <h3 class="elementor-name-product">{{product.name}}</h3>
                <p class="elementor-price-product">$ {{product.price}}</p>
            </a>
        </div>
    </div>
</div>