<div class="dashboard-admin">
  <div class="top-dashboard">
    <h2 class="title-secondary"><span nz-icon nzType="home" nzTheme="outline"></span> Admin</h2>
    <div class="icon-top-dashboard">
      <i class="bi bi-brightness-high" style="font-size: 15px;padding:4px 8px;background:white;border-radius: 50px;"></i>
      <i class="bi bi-bell" style="font-size: 15px;padding:4px 8px;background:white;border-radius: 50px;"></i>
      <img style="width: 30px;height: 30px;border-radius: 50px;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/27a5ebeb-b941-40ff-81ca-4bc839d75d27/dg2pju2-c6bd3ecf-116c-4047-943b-89cb6e18d985.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI3YTVlYmViLWI5NDEtNDBmZi04MWNhLTRiYzgzOWQ3NWQyN1wvZGcycGp1Mi1jNmJkM2VjZi0xMTZjLTQwNDctOTQzYi04OWNiNmUxOGQ5ODUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Yu3g-rojU1pRXdeT2wXxkGgPzm49UYqc6z4SHJ_th1w" alt="">
    </div>
  </div>
  <div class="bottom-dashboard">
    <div class="sidebar-secondary">
      <ul nz-menu nzMode="inline">
        <li nz-submenu nzTitle="Products">
            <ul>
              <li nz-menu-item (click)="goToProductList()">Product list</li>
            </ul>
        </li>
        <li nz-submenu nzTitle="Invoice">
            <ul>
              <li nz-menu-item (click)="goToInvoice()">PurChase order</li>
            </ul>
        </li>
      </ul>
    </div>
    <div class="sidebar-primary">
      <app-product-list-admin *ngIf="!isShowInvoice"></app-product-list-admin>
      <app-purchase-order *ngIf="isShowInvoice"></app-purchase-order>
    </div>
  </div>
</div>