.dashboard-admin {
  width: 100%;
  height: 100%;
  .top-dashboard {
    width: 100%;
    background: #54b8f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    .title-secondary {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      color: white;
      margin: 0;
    }
    .icon-top-dashboard{
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }
  }
  .bottom-dashboard{
    width: 100%;
    height: 100%;
    display: flex;
    .sidebar-secondary {
      flex-basis: 20%;
      border-right: 1px solid #d9d9d9;
    }
  
    .sidebar-primary {
      flex-basis: 80%;
      background: #ffffff;
    }
  }
}