<app-header></app-header>
<section class="area-shop">
    <div class="elementor-widget-container container">
        <div class="widget-area-secondary">
            <div class="elementor-filter">
                <div class="elementor-search-name">
                    <div class="elementor-fill">
                        <input nz-input placeholder="search product..." nzSize="large" [(ngModel)]="keySearch"
                            (ngModelChange)="handleSearchProduct(keySearch)" />
                    </div>
                    <button class="elementor-find">
                        <span nz-icon nzType="search" nzTheme="outline"></span>
                    </button>
                </div>
                <div class="elementor-filter-price">
                    <h3 class="elementor-title">Filter by price</h3>
                    <nz-slider nzRange [(ngModel)]="valueRangePrice"
                        (ngModelChange)="handleSearchPrice(valueRangePrice)" [nzMin]="0" [nzMax]="100"></nz-slider>
                    <div class="elementor-price">
                        <nz-input-number [(ngModel)]="valueRangePrice[0]" [nzMin]="0" [nzMax]="100" style="width: 80px;height:40px;margin-right: 15px;font-size: 17px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;" [nzFormatter]="formatterDollar"
                            [nzParser]="parserDollar"></nz-input-number>
                        <nz-input-number [(ngModel)]="valueRangePrice[1]" [nzMin]="0" [nzMax]="100"
                            [nzFormatter]="formatterDollar" [nzParser]="parserDollar" style="width: 80px;height:40px;font-size: 17px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;"></nz-input-number>
                    </div>
                </div>
                <div class="elementor-filter-categories">
                    <h2 class="elementor-title">Categories</h2>
                    <ul class="categories-list">
                        <li class="elementor-type-category">
                            <span style="color: #74a84a;">Postcards</span><span> (6)</span>
                        </li>
                        <li class="elementor-type-category">
                            <span style="color: #74a84a;">Posters</span><span> (6)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="widget-area-primary">
            <div class="area-show-product">
                <nav class="area-direction">
                    <span>Home</span> / Shop
                </nav>
                <div class="widget-title-shop">
                    <h1 class="widget-title">Shop</h1>
                </div>
                <div class="widget-notices">
                    <div class="widget-result-count">
                        <span>Showing all {{products.length}} results</span>
                    </div>
                    <div class="widget-ordering">
                        <nz-select [(ngModel)]="optionSelected" (ngModelChange)="handleSortProduct(optionSelected)"
                            style="width: 170px;" nzPlaceHolder="Sort price product">
                            <nz-option *ngFor="let option of sortProducts" [nzValue]="option.name"
                                [nzLabel]="option.name"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <ul class="products">
                    <li class="product" *ngFor="let product of products" (click)="viewDetailProduct(product.id)">
                        <div class="product-image">
                            <img [src]="product.image" [alt]="product.name">
                            <span class="thumbnail-cart" nz-tooltip nzTooltipTitle="add to cart" nzTooltipColor="green"
                                nzTooltipPlacement="left" nz-icon nzType="shopping-cart" nzTheme="outline"></span>
                        </div>
                        <div class="product-category">
                            <p class="name-category">{{product.category}}</p>
                        </div>
                        <div class="product-name">
                            <p class="name-product">{{product.name}}</p>
                        </div>
                        <div class="product-price">
                            <p class="price-product">${{product.price}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>