.area-shop {
    width: 100%;
    border-top: 1px solid #eae9ce;
    border-bottom: 1px solid #eae9ce;

    .elementor-widget-container {
        display: flex;
        height: 100%;
        padding: 70px 0;

        .widget-area-secondary {
            flex-basis: 30%;
            width: 100%;
            height: 100%;
            border-right: 1px solid #eae9ce;

            .elementor-filter {
                height: 100%;
                padding-right: 60px;

                .elementor-search-name {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 40px;

                    .elementor-fill {
                        width: 100%;
                    }

                    .elementor-find {
                        display: flex;
                        padding: 12px 15px;
                        border: none;
                        outline: none;
                        background: #74A84A;
                        color: white;
                    }
                }

                .elementor-filter-price {
                    margin-bottom: 40px;

                    .elementor-title {
                        color: #74A84A;
                        font-size: 20px;
                    }

                    .elementor-price {
                        display: flex;
                        justify-content: flex-end;
                    }
                }

                .elementor-filter-categories {
                    .elementor-title {
                        color: #74A84A;
                        font-size: 20px;
                    }

                    .categories-list {
                        list-style: none;
                        padding-left: 15px;

                        .elementor-type-category {
                            font-size: 17px;
                        }
                    }
                }
            }
        }

        .widget-area-primary {
            flex-basis: 70%;
            width: 100%;
            height: 100%;

            .area-show-product {
                padding-left: 60px;

                .area-direction {
                    margin-bottom: 20px;
                    font-size: 17px;
                    color: #575757;
                }

                .widget-title-shop {
                    margin-bottom: 70px;

                    .widget-title {
                        color: #74A84A;
                        font-size: 70px;
                        font-weight: 400;
                        font-family: 'jost', sans-serif;
                    }
                }

                .widget-notices {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 25px;

                    .widget-result-count {
                        font-size: 17px;
                        color: #575757;
                    }
                }

                .products {
                    list-style-type: none;
                    padding: 0;
                    display: grid;
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                    grid-gap: 10px;
                    cursor: pointer;

                    .product-image {
                        margin-bottom: 10px;
                        position: relative;

                        img {
                            width: 100%;
                            object-fit: contain;
                        }

                        .thumbnail-cart {
                            position: absolute;
                            top: 20px;
                            right: 15px;
                            font-size: 20px;
                            padding: 8px;
                            border-radius: 50px;
                            background: rgba(255, 255, 255, 0.893);
                            color: rgba(116, 168, 74, 0.893);
                            opacity: 0;
                            transition: 0.3s all ease;

                            &:hover {
                                background: rgba(255, 255, 255);
                                color: rgba(116, 168, 74);
                            }
                        }

                        &:hover>.thumbnail-cart {
                            opacity: 1;
                            transition: 0.3s all ease;
                        }
                    }

                    .product-category {
                        .name-category {
                            color: #878686;
                            font-size: 15px;
                        }
                    }

                    .product-name {
                        .name-product {
                            font-size: 17px;
                            color: #000000;
                            margin: 0;
                            font-weight: 500;
                        }
                    }

                    .product-price {
                        .price-product {
                            font-size: 17px;
                            color: #666666;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    .elementor-widget-container{
        flex-direction: column-reverse;
        .area-show-product{
            padding: 0 !important;
            .widget-title{
                font-size: 60px !important;
            }
        }
    }
}
@media screen and (max-width: 426px){
    .elementor-widget-container{
        padding: 30px 0 !important;
        border-bottom: 1px solid #d9d9d9;
        .area-show-product{
            padding: 0 20px !important;
            .widget-title{
                font-size: 40px !important;
            }
        }
    }
    .products{
        grid-template-columns: none !important;
        .name-category,
        .name-product,
        .price-product{
            font-size: 15px !important;
        }
    }
    .widget-area-secondary{
        .elementor-filter{
            padding: 0 20px !important;
        }
    }
}