/* You can add global styles to this file, and also import other style files */
:root{
    --e-global-color-astglobalcolor1: #2c541d;
    --ast-global-color-2: #74a84a;
    --e-global-color-astglobalcolor0: #000000;
}
body{
    margin: 0;
    box-sizing: border-box;
}